API_PORT=3000
VITE_API_URL=http://localhost:3000
DB_USER=skarbona
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
DB_NAME=skarbona
DB_SCHEMA=skarbona
GHCR_NAMESPACE=your-github-user
IMAGE_TAG=latest
